body{
	font-size: 16px;
	color: #fff;
	background: #1f1a17;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{
	color: #000;
	text-decoration: none;
}
ul, ol{
	padding: 0;
	margin: 0;
	list-style: none;		
}
img{
	width: 100%;	
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.header{
	background-color: #1f1917;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.flexbox{
	display: flex;
}
.list-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.list-menu .item-menu-logo{
	width: 120px;
}
.list-menu .item-menu{
/*	padding: 10px 0;*/
}
.list-menu .item-menu  a{
	color: #fff;
}
.list-menu .item-menu > a{
	padding: 10px 0;
	display: inline-block;
}
.list-menu .item-menu a:hover {
	color: #d77647;
}
.drop-menu{
	display: none;
}
.list-menu .item-menu:hover .drop-menu,
.list-menu .item-menu a:hover + .drop-menu{
	padding: 20px 0;
	display: block;
	position: absolute;
	top: 70px;
	z-index: 99999;
	background-color: #1f1917;
}
.list-menu-child .item-menu-child{
	border-bottom: 1px solid rgba(120, 138, 156, 0.2);
	padding: 10px 20px;
}
.wrap-banner{
	position: relative;
}
.title-contact{
	width: 100px;
}

.book-name .logo{
	width: 100px;
}
.title-contact h2{
	font-size: 45px;
	font-weight: 100px;
	margin-top: 15px;
	width: 1400px;
	line-height: 54px;
	margin-left: 385px;
}
.title-contact .logo{
	display: block;
	margin-left: 500px;
}
.logo{
	margin-top: 50px;
}
.title-contact p{
	width: 600px;
	font-style: italic;
	color: #d77647;
	font-size: 21px;
	margin-top: 10px;
	margin-left: 300px;
}
.wrap-col-search{
	display: flex;
	align-items: center;
	margin-top: 50px;
}
.wrap-col-search .input-group{
	display: inline-block;
	margin-left: 15px;
	padding: 10px 0;
}
.wrap-col-search .ip-name{
	padding: 15px;
	border: 1px solid #615b59;
	height: 60px;
	width: 220px;
	font-size: 13px;
	font-weight: 600;	
	background: #1f1a17;

}
.input-group-now a:hover{
	background-color: #fff;
	color: #d77647;
}

.input-group-now{
	margin-left: 16px;
	margin-top: 40px;
}
.input-group-now a{
	color: #fff;
	background-color: #d77647;
	padding: 20px 40px;
	letter-spacing: 2px;
}
.wrap-col-search p{
	padding: 10px 0px;
}
.about-us-home .about-us-inner{
	background-image: url("../images/bg10.png");
	width: 900px;
    height: 450px;
    position: relative;
}
.about-us-home .about-us-inner h1{
	margin-top: 100px;
	font-size: 40px;
	padding-bottom: 20px;
}
.about-us-inner h2{
	font-size: 20px;
	font-style: italic;
	color: #d77647;
	margin-bottom: 20px;
}
.button-group{
	margin-top: 50px;
}
.button-group a:hover{
	background-color: #fff;
	color: #d77647;
}
.button-group a{
	color: #fff;
	background-color: #d77647;
	padding: 20px 60px;
	letter-spacing: 2px;
}
.about-us-inner .col-left{
	padding: 1px 55px;
    margin-top: 59px;
    margin-bottom: 0px;
}
.about-us-inner .col-left p{
	font-size: 18px;
	width: 535px;
}
.layer-spice-2{
	margin-top: 50px;
	width: 50%;
}
.about-us-home .about-us-inner .layer-spice-2{
	position: absolute;
	top: 15px;
    right: -170px;
}
.video-sec{
	margin-top: 100px;
	width: 100%;
	position: relative;
}
.video-sec .video-content{
	position: absolute;
	z-index: -1;
}
.video-banner{
	padding-top: 230px;
	margin-left: 100px;
	font-size: 30px;
	align-items: center;
}
.video-banner h2{
	margin: 0px 40px;
}
.main{
	padding-top: 70px;
}
.section-header{
	padding: 200px 450px 0px;
	position: relative;	
}
.section-header h2{
	margin-bottom: 10px;
	text-align: center;
	font-size: 50px;
	font-weight: 600;
}
.section-header p{
	font-size: 20px;
    color: #d77647;
    width: 1200px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.main .sub{
	position: absolute;
	top: 335px;
	right: 0;
	width: 1200px;
}
.foodmenu-tab .foodmenu-tab-button-group{
	width: 100%;
	justify-content: center;
	padding-top: 30px;
}
.foodmenu-tab .foodmenu-tab-button-group .foodmenu-tab-button{
	padding: 0px 60px;
	text-align: center;
	width: 217px;
	height: 113px;
}
.foodmenu-tab .foodmenu-tab-button-group .foodmenu-tab-button a{
	color: #fff;
	font-size: 14px;
}
.foodmenu-tab-button .tabicon{
	padding-bottom: 10px;
}
.foodmenu-tab-container {
	padding-top: 100px;
}
.foodmenu-tab-container .col-left{
	padding-right: 15px;
    padding-left: 15px;
    width: 715px;
}
.foodmenu-tab-container .col-right{
	width: 715px;
}
.foodmenu-tab-container .foodmenu-content{
	padding: 0px 40px;
	margin-bottom: 40px;
}
.foodmenu-content .serial{
	margin-right: 22px;
}
.foodmenu-tab-container .menu-item{
	flex-grow: 1;
}
.foodmenu-content .menu-item-inner{
	font-size: 18px;
	font-weight: 500;
	align-items: center;
	margin-bottom: 8px;
}
.foodmenu-content .menu-item-inner .line{
    flex-grow: 1;
    margin: 0px 20px;
    border-bottom: 1px solid #655f5d;
}
.foodmenu-content .menu-item-inner .price{
	font-style: italic;
}
.foodmenu-content .menu-item p{
	font-family: "Cormorant", serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    font-style: italic;
    color: #d77647;
}
.grillman-light{
	width: 500px;
	margin-left: 660px;
}
.grillman-light p{
	font-size: 50px;
	font-style: italic;
	text-align: center;
	color: #e5dcdb;
	opacity: 0.6;
	margin-top: -155px;
	margin-bottom: 145px;
}
.platter{
	background-image: url(../images/bg8.png);
	padding-top: 100px;
	padding-bottom: 216px;
}
.platter .platter-title{
	text-align: center;
}
.platter .platter-title h4{
	font-size: 35px;
	text-transform: uppercase;
}
.platter .platter-box-item{
	text-align: center;
}
.platter .platter-box-item h6{
	color: #d77647;
	font-weight: 600;
	margin-top: 20px;
	font-size: 25px;
}
.platter .platter-box-item p{
	font-style: italic;
	padding-top: 5px;
	font-size: 20px;
	color: #ffffff;
}
.sec-speciality{
	background-image: url(../images/bg9.jpg);
}
.sec-speciality .frontend{
	width: 60px;
}