body{
	font-size: 16px;
	color: #fff;
}
*{
	padding: 0;
	margin: 0;
	background-color: #1f1917;
}
a{
	color: #000;
	text-decoration: none;
}
ul, ol{
	list-style: none;		
	padding-top: 20px;
}
img{
	width: 110%;	
	padding-right: 10px;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.list-menu{
	display: flex;
	justify-content: space-between;
}
.list-menu .item-menu{
	margin-right: 50px;
	border-right: 2px #fff;	
	position: relative;
}
.list-menu .item-menu a{
	color: #fff;
	padding-right: 30px;
}
.list-menu .item-menu:hover a{
	color: #d77647;
}
.header{
	background-color: #1f1917;
	padding: 20px;
}
.item-menu-child{
	display: none;	
	background-color: #1f1917;
	width: 200px;
}
.list-menu .item-menu:hover .item-menu-child{
	display: block;
	position: relative;
	top: 20px
}
.title-contact{
	width: 100px;
}
.item-menu-logo{
	width: 100px;
	margin-right: 80px;
}
.book-name .logo{
	width: 100px;
}
.title-contact h2{
	font-size: 45px;
	font-weight: 100px;
	margin-top: 15px;
	width: 1400px;
	line-height: 54px;
	text-align: center;
}
.title-contact .logo{
	display: block;
	margin-left: 500px;
}
.logo{
	margin-top: 50px;
}
.title-contact p{
	width: 600px;
	font-style: italic;
	color: #d77647;
	margin-left: 300px;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}
.wrap-col-search .input-group{
	display: inline-block;
	margin-left: 15px;
	padding: 10px;
}
.wrap-col-search .input-group p{
	margin-top: 50px;
	padding: 0;	
	margin-bottom: 10px;

}
.wrap-col-search .ip-name{
	padding: 15px;
	border: 1px solid #615b59;
	height: 25px;
	width: 175px;
	font-size: 13px;
	font-weight: 600;
}
.input-group-now{
	text-align: center;
	display: inline;
	padding: 20px 40px;

}
.input-group-now a{
	color: #fff;
	background-color: #d77647;
	padding: 15px 15px;
}
.wrap-col-search p{
	padding: 10px;
	font-size: 17px;
}
